@import url("./reset.css");

/* variables */
:root {
    --logo: #10375C;
    --stats-details-bg: #10375C;
    --stats-details-text: #fff;
    --stats-items:#10375C;
    --nav-link: #222831;
    --nav-btn: #FF5722;
    --banner-introducing: #222831;
    --banner-heading: #10375C;
    --banner-heading-highlighted: #FF5722;
    --banner-subheading: #6A6A6A;
    --banner-form: #10375C;
    --banner-select-bg: #0D2C4A;
    --header-btns: #fff;
    --banner-form-txt: #fff;
    --section-ttl-blue: #10375C;
    --section-sbttl-gray: #9A9A9A;
    --spaces-card-text: #fff;
    --spaces-expand-button-and-progress-highlighted: #FF5722;
    --banner-btn-highlighted: #FF5722;
    --section-subheading-white: #fff;
    --spaces-image-subtitle: #222831;
    --spaces-card-details: #fff;
    --spaces-progress-bg: #9A9A9A;
    --spaces-progres-active: #222831;
    --facilities-button-text: #222831;
    --facilities-button-bg: #fff;
    --facilities-button-text-active: #fff;
    --facilities-button-bg-active: #FF5722;
    --rewievs-card-text: #fff;
    --questions-card-text: #000;
    --questions-card-text-active: #fff;
    --questions-card-bg: #fff;
    --questions-card-bg-active: #FF5722;
    --expand-arrow-container: #ff5722;
    --news-heading: #000;
    --news-subheading: #9a9a9a;
    --news-worker-name: #10375C;
}

/* general */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
}

.container {
    padding: 0 10%;
    max-width: 100%;
}

section {
    padding: 4rem 0;
}

.section__subheading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size:1.25rem;
    line-height: 1.875rem;
    color: var(--banner-introducing);
    text-transform: capitalize;
}

.section__subheading:after {
    content: "";
    display: inline-block;
    width: 73px;
    height: 2px;
    background-color: var(--banner-introducing);
    margin-bottom: 4px;
    margin-left: 15px;
}

.section__subheading_color-white {
    color: var(--section-subheading-white);
}

.section__subheading_color-white:after {
    background-color: var(--section-subheading-white);
}

.section__progress-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section__progress {
    width: 160px;
    height: 2px;
    background-color: var(--spaces-progress-bg);
    display: flex;
}

.section__progress-item {
    width: 25%;
    height: 2px;
}

.section__progress-item_active {
    width: 25%;
    height: 2px;
    background-color:var(--spaces-expand-button-and-progress-highlighted);
}

.section__progress-counter-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--spaces-progres-active);
}

.section__progress-counter-text_light {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--spaces-progress-bg);
}

.section__progress_position-absolute {
    position: absolute;
}

.section__progress-counter_position-relative {
    width: 50px;
    position: relative;
    top: -18px;
    left: 170px;
    transform: rotate(180deg);
}

.section__title {
    grid-column: 1 / 3;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: var(--section-ttl-blue)
}

.section__title_text-center {
    text-align: center;
}

.section__title_width-sm {
    width: 40%;
}

.section__subtitle {
    grid-column: 3 / 6;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--section-sbttl-gray);
}

.section__arrows_grid-area {
    grid-column: 6 / 7;
    margin-bottom: 10%;
}

.section__arrows_galery {
    margin: 6% 0 0;
}

.section__expand-arrow-container {
    margin-top: 90px;
    color: var(--expand-arrow-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__expand-arrow-container_margin-top-0 {
    margin-top: 0;
}

.section__expand-arrow-text {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 0;
}

.section__arrow-right {
    font-size: 1.5rem;
    margin-left: 20px;
    position: static;
}

.card-worker {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.card-worker-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.card-worker-position {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.card-worker-details {
    margin-left: 4%;
}

.card-worker-name_color-blue {
    color: var(--news-worker-name);
}


.row {
    width: 100%;
    margin: 0;
}

/* header */

nav {
    width: 100%;
}

.header {
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 2% 0 4%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo-container {
    width: 30%;
}

.header__links-container {
    width: 55%;
}

.header__buttons-container {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.header__logo {
    font-family: 'Playfair Display', serif;
    color: var(--logo);
    font-size: 1.5rem;
    line-height: 2rem;
}

.header__links-list {
    display: flex;
    width: 100%;
}


.header__link {
    color: var(--nav-link);
    margin: 0 3%;
}

.header__btn {
    padding: 0.75rem 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.header__login-btn_font-orange {
    background: var(--header-btns);
    color: var(--nav-btn);
    transition: .1s linear;
}

.header__login-btn_font-orange:hover {
    color: var(--header-btns);
    background-color: var(--nav-btn);
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.header__login-btn_background-orange {
    transition: .1s linear;
    color: var(--header-btns);
    background-color: var(--nav-btn);
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.header__login-btn_background-orange:hover {
    background: var(--header-btns);
    color: var(--nav-btn);
    box-shadow: 0px 4px 16px rgba(94, 89, 87, 0.32);
}

/* banner */

.banner__heading {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 4.1875rem;
    color: var(--banner-heading);
}

.banner__headings-container {
    width: 100%;
}

.banner__heading-container {
    padding: 0;
}

.banner__heading_highlighted { 
    color: var(--banner-heading-highlighted)
}

.banner__subheading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size:1.25rem;
    line-height: 1.875rem;
    color: var(--banner-subheading);
}

.banner__subheading-container {
    padding: 0;
}

.banner__background-image {
    position: absolute;
    right: 0;
}

.banner__content {
    height: 600px;
    display: flex;
    align-items: center;
}

.banner__form-container {
    padding: 5%;
    width: 445px;
    height: 459px;
    position: relative;
    background-color: var(--banner-form);
}

.banner__form {
    color: var(--banner-form-txt);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.banner__form-heading { 
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.75rem;
}

.banner__select-label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--banner-select-bg);
    width: 100%;
    margin-bottom: 2%;
    padding: 5%;
}

.banner__form-select {
    background-color: var(--banner-select-bg);
    color: var(--banner-form-txt);
    margin-left: -3px;
}

.banner__select-label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
    opacity: 0.35;
}

.banner__form-option, .banner__form-select {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
}

.banner__form-btn {
    text-transform: uppercase;
    padding: 5% 15%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: var(--banner-btn-highlighted);
    color: var(--banner-form-txt);
}

/* spaces */

.spaces__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 130px;
    grid-row-gap: 30px;
    grid-auto-columns: 2fr;
}

.spaces__card {
    height: 500px;
}

.spaces__card_1 {
    grid-column: 1 / 3;
    transition: .3s linear;
    background-image: url(./images/office1.jpg);
    background-size: 100% 419px;
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.spaces__card_1:hover {
    background-color: var(--banner-form);
    background-image: none;
}

.spaces__card-expand-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--spaces-card-text);
    margin-top: 347px;
    transition: .2s linear;
    width: 72px;
    height: 72px;
    background-color: var(--spaces-expand-button-and-progress-highlighted);
}

.spaces__card_1:hover .spaces__card-expand-block {
    width: 150px;
    padding: 36px;
    margin-top: 64px;
    order: 2;
}

.spaces__card-image-subtitle {
    margin-top: 5%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--spaces-image-subtitle);
    margin-top: 20px;
    transition: .2s linear;
}

.spaces__card_1:hover .spaces__card-image-subtitle {
    color: var(--spaces-card-text);
    order: 0;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
}

.spaces__card-details {
    transition: .2s linear;
}

.spaces__card_1:hover .spaces__card-details {
    display: block;
}

.spaces__card-lines {
    display: none;
    margin: 5%;
    transition: .2s linear;
}

.spaces__card_1:hover .spaces__card-lines {
    order: -1;
    display: block;
}

.spaces__card-details {
    display: none;
    order: 1;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--spaces-card-details);
    padding: 10% 15%;
}

.fa-angle-right {
    position: relative;
    left: -15px;
    transition: .2s linear;
}

.spaces__card_1:hover .fa-angle-right {
    left: 20px;
}

.spaces__card-lines-image {
    float: right;
}

.spaces__card_2 {
    grid-column: 3 / 5;
    transition: .2s linear;
    background-image: url(./images/office2.jpeg);
    background-size: 100% 419px;
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.spaces__card_2:hover {
    background-color: var(--banner-form);
    background-image: none;
}

.spaces__card_2:hover .spaces__card-expand-block {
    width: 150px;
    height: 72px;
    padding: 36px;
    margin-top: 64px;
    background-color: var(--banner-heading-highlighted);
    order: 2;
}

.spaces__card_2:hover .spaces__card-image-subtitle {
    color: var(--spaces-card-text);
    order: 0;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
}

.spaces__card_2:hover .spaces__card-details {
    display: block;
}

.spaces__card_2:hover .spaces__card-lines {
    order: -1;
    display: block;
}

.spaces__card_2:hover .fa-angle-right {
    left: 20px;
}

.spaces__card_3 {
    grid-column: 5 / 7;
    transition: .2s linear;
    background-image: url(./images/office3.jpg);
    background-size: cover;
    object-fit: cover;
    background-size: 100% 419px;
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.spaces__card_3:hover {
    background-color: var(--banner-form);
    background-image: none;
}

.spaces__card_3:hover .spaces__card-expand-block {
    width: 150px;
    height: 72px;
    padding: 36px;
    margin-top: 64px;
    background-color: var(--banner-heading-highlighted);
    order: 2;
}

.spaces__card_3:hover .spaces__card-image-subtitle {
    color: var(--spaces-card-text);
    order: 0;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
}

.spaces__card_3:hover .spaces__card-details {
    display: block;
}

.spaces__card_3:hover .spaces__card-lines {
    order: -1;
    display: block;
}

.spaces__card_3:hover .fa-angle-right {
    left: 20px;
}

/* stats */

.stats__details_container {
    padding: 0;
}

.stats__items-container {
    padding: 0;
}

.stats__item {
    color: var(--stats-items);
    padding-left: 0;
    display: flex;
    margin-bottom: 13%;
}

.stats__item-icon {
    margin-right: 15px;
}

.stats__details {
    background-color: var(--stats-details-bg);
    padding: 8%;
    color: var(--stats-details-text);
}

.stats__heading {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.1875rem;
    margin-bottom: 8%;
}

.stats__item-quantity {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5625rem;
}

.stats__item-type {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

.stats__explaining {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

/* facilities */

.facilities__headings-container {
    width: 55%;
}

.facilities__slider-container {
    margin-top: 6%;
}

.facilities__slider-buttons {
    padding: 0;
    display: flex;
    align-items:flex-start;
}

.facilities__slider-image-container {
    padding: 0;
}

.facilities__progress-container {
    margin-top: 10px;
    margin-right: 30px;
    width: 55px;
    transform: rotate(90deg);
    display: flex;
}

.facilities__button {
    width: 100%;
    text-align: start;
    padding: 8% 10%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--facilities-button-text);
    background-color: var(--facilities-button-bg);
    margin: 1% 0;
}

.facilities__button_active {
    color: var(--facilities-button-text-active);
    background-color: var(--facilities-button-bg-active)
}

.facilities__slider-image {
    float: right;
    width: 95%;
    height: auto;
}

/* galery */

.galery__container {
    overflow: hidden;
    padding: 0;
    display: grid;
    grid-template-rows: 31.19fr 11.05fr 57.76fr;
    grid-template-columns: 13.04fr 32.96fr 25.93fr 24.07fr;
    grid-column-gap: 30px;
}

.galery__image {
    width: 100%;
    height: 100%;
}

.galery__image-container {
    width: 100%;
    height: 100%;
}

.galery__image-container:nth-child(1) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.galery__image-container:nth-child(2) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
}

.galery__image-container:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.galery__image-container:nth-child(4) {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

.galery__headings-container {
    padding: 6%;
    grid-row: 1 / 3;
    grid-column: 3 / 5;
}

/* who use */

.whouse {
    padding-top: 0;
}

.whouse__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.whouse__headings-container {
    padding: 2% 15%;
    margin-bottom: 3%;
    text-align: center;
}

.whouse__company-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

/* rewievs */

.rewievs__headings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rewievs__cards-container {
    flex-wrap: nowrap;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-right: 0;
    margin-top: 6%;
}

.rewievs__card-container {
    background-color: #0D2C4A;
    margin-right: 2%;
    color: var(--rewievs-card-text);
    padding: 4%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rewievs__card-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 30%;
}

.rewievs__progress-container {
    display: flex;
    justify-content: center;
}

/* questions */

.questions__cards-container {
    margin-top: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    background-color: var(--questions-card-bg);
    color: var(--questions-card-text);
}

.questions__card-container_active {
    background-color: var(--questions-card-bg-active);
    color: var(--questions-card-text-active);
}

.questions__card {
    padding: 10% 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions__card-heading {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.0625rem;
    text-align: center;
}

.questions__card-expand-box {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    position: relative;
    font-size: 1.5rem;
    width: 74px;
    height: 64px;
    background-color: var(--questions-card-bg-active);
    color:var(--questions-card-text-active);
}

.questions__card-expand-box_active {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    position: relative;
    font-size: 1.5rem;
    width: 74px;
    height: 64px;
    background-color: var(--questions-card-text-active);
    color:var(--questions-card-bg-active)
}

.questions__headings-container {
    padding: 0 30%;
}

/* news */

.news {
    color:var(--news-heading);
    background-color: #F8F8F8;
}

.news__headings-container {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.news__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

.news__card {
    background-color: #fff;
}

.news__card_cols-2 {
    grid-column: 1 / 3;
    display: flex;
}

.news__card_cols-2-container_padding-5 {
    padding: 10% 5%
}

.news__card_cols-2-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news__card-heading {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 28px;
}

.news__card-heading_font-big {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5625rem;
}

.news__card-subheading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--news-subheading);
    margin-bottom: 0;
}

.news__card-top-container {
    height: 65%;
    width: 100%;
}

.news__card-bottom-container {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 7%;
}

.news__card-image {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1600px) {
    
    /* spaces */

    .spaces__container {
        grid-column-gap: 40px;
    }

    /* questions */

    .questions__headings-container {
        padding: 0 20%;
    }

    /* news */

    .news__cards-container {
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

}

@media only screen and (max-width: 1200px) {

    /* general */

    .section__title_width-sm {
        width: 60%;
    }

    .container {
        max-width: 100%;
    }

    /* header */

    .header__links-container {
        width: 100%;
        order: 3;
    }

    .header__logo-container {
        width: 50%;
    }

    .header__buttons-container {
        width: 50%;
    }

    .header__links-list {
        margin-top: 2%;
        justify-content: space-around;
    }

    .header__link {
        margin: 0;
    }

    /* spaces */

    .spaces__card_1:hover .spaces__card-expand-block {
        margin-top: 82px;
    }

    .spaces__container {
        grid-column-gap: 100px;
    }

    .spaces__card_1 {
        grid-column: 1 / 4;
    }
    
    .spaces__card_2 {
        grid-column: 4 / 7;
    }
    
    .spaces__card_3 {
        grid-column: 2 / 5;
    }

    .spaces__card_1:hover .spaces__card-expand-block {
        margin-top: 69px;
    }

    .spaces__card_2:hover .spaces__card-expand-block {
        margin-top: 69px;
    }

    .spaces__card_3:hover .spaces__card-expand-block {
        margin-top: 68px;
    }

    /* galery */

    .galery__container {
        overflow: hidden;
        display: grid;
        grid-template-rows: 0.5fr 0.3fr 0.4fr 0.3fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
    
    .galery__image-container:nth-child(1) {
        grid-row: 3 / 5;
        grid-column: 2 / 3;
        background-color: #0D2C4A;
    }
    
    .galery__image-container:nth-child(2) {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
    }
    
    .galery__image-container:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
    .galery__image-container:nth-child(4) {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    
    .galery__headings-container {
        padding: 6%;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    /* questions */

    .questions__cards-container {
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 55px;
    }

    .questions__card-container:nth-child(1) {
        grid-column: 1 / 3;
    }

    .questions__card-container:nth-child(2) {
        grid-column: 3 / 5;
    }

    .questions__card-container:nth-child(3) {
        grid-column: 2 / 4;
    }

    .questions__headings-container {
        padding: 0 10%;
    }

    /* news */

    .news__cards-container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }

}

@media only screen and (max-width: 992px) {

    /* general */
    
    .container {
        max-width: 100%;
    }

    /* header */

    .header__links-list {
        justify-content: space-between;
    }

    /* spaces */

    .spaces__container {
        grid-column-gap: 30px;
    }

    /* stats */

    .stats__container > .row {
        flex-direction: column-reverse;
    }

    .stats__item {
        justify-content: center;
        margin-bottom: 5%;
    }

    .stats__details_container {
        margin-bottom: 5%;
    }

    .stats__item-text {
        text-align: center;
    }

    /* facilities */

    .facilities__headings-container {
        width: 80%;
    }

    .facilities__progress-container {
        margin-top: 0;
        margin-right: 0;
        width: 160px;
        transform: rotate(0deg);
        display: flex;
        flex-direction: column;
    }

    .section__progress_position-absolute {
        position: static;
    }

    .section__progress-counter_position-relative {
        width: auto;
        position: static;
        transform: rotate(0deg);
    }

    .facilities__slider-buttons {
        margin-bottom: 4%;
        flex-direction: column;
        align-items: center;
    }

    .facilities__buttons-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .facilities__button {
        text-align: center;
        width: auto;
        padding: 2% 6%;
        margin: 1% 0;
    }

    /* rewievs */

    .rewievs__headings-container {
        align-items: flex-start;
        flex-direction: column;
    }

     /* news */

     .news__cards-container {
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

}

@media only screen and (max-width: 768px) {

    /* general */
    .section__arrows_grid-area {
        grid-column: auto;
    }

    .container {
        max-width: 100%;
    }

    .section__title_width-sm {
        width: 80%;
    }

    /* banner */

    .banner__headings-container {
        margin-bottom: 8%;
    }

    .banner__subheading-container {
        margin-bottom: 11%;
    }

    /* spaces */

    .section__title {
        grid-column: auto;
    }
    
    .section__subtitle {
        grid-column: auto;
    }
    
    .spaces__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 80px;
        grid-auto-columns: 1fr;
    }

    .spaces__card {
        width: 70%;
    }

    .spaces__card_1 {
        grid-column: auto;
    }
    
    .spaces__card_2 {
        grid-column: auto;
    }
    
    .spaces__card_3 {
        grid-column: auto;
    }

    .spaces__card_1:hover .spaces__card-expand-block {
        margin-top: 38px;
    }

    .spaces__card_2:hover .spaces__card-expand-block {
        margin-top: 38px;
    }

    .spaces__card_3:hover .spaces__card-expand-block {
        margin-top: 38px;
    }

    /* facilities */

    .facilities__slider-image {
        width: 100%;
        height: auto;
    }

    .facilities__button {
        padding: 3% 6%;
    }

    /* galery */

    .galery__container {
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }

    /* whouse */

    .whouse__company-item-container {
        margin-bottom: 4%;
    }

    /* rewievs */

    .rewievs__cards-container {
        flex-wrap: wrap;
        display: flex;
        position: static;
        width: 100%;
        padding: 0 10%;
        margin-top: 6%;
    }

    .rewievs__card-container {
        margin-right: 0;
        margin-bottom: 12%;
    }

    /* questions */

    .questions__cards-container {
        grid-template-columns: 1fr;
        margin-top: 15%;
    }

    .questions__card-container:nth-child(1) {
        grid-column: auto;
    }

    .questions__card-container:nth-child(2) {
        grid-column: auto;
    }

    .questions__card-container:nth-child(3) {
        grid-column: auto;
    }

    .questions__headings-container {
        padding: 0;
    }

    /* news */

    .news__cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        padding: 0 7%;
    }

    .news__card_cols-2 {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news__card_cols-2-container {
        width: 100%;
        height: 100%;
    }
    
    .news__card_cols-2-container_padding-5 {
        padding: 0 10%;
        margin-bottom: 7%;
    }

}

@media only screen and (max-width: 576px) {

    /* general */
    
    .container {
        max-width: 100%;
        padding: 0 1%;
    }

    /* header */

    .header__link {
        font-size: 0.95rem;
    }

    /* banner */

    .banner__heading {
        font-size: 3.1rem;
    }

    /* spaces */

    .spaces__card {
        width: 100%;
    }

    /* facilities */

    .facilities__headings-container {
        width: 95%;
    }

    .facilities__button {
        width: 70%;
        padding: 5% 6%;
    }

    /* whouse */

    .whouse__company-item-container {
        margin-bottom: 10%;
    }

    /* rewievs */

    .rewievs__card-container {
        padding: 12%;
    }

    /* news */

    .news__cards-container {
        padding: 0 3%;
    }

    .news__card-bottom-container {
        padding: 3%;
    }

    .news__cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 40px;
        padding: 0 7%;
    }

    .news__headings-container {
        flex-direction: column;
    }

}

@media only screen and (max-width: 450px) {

    /* news */

    .news__cards-container {
        padding: 0;
    }

}